<nav class="mx-auto flex items-center justify-between py-5 mb-10">
  <div id="me">
    <a href="https://github.com/maxmaccari/smart_git" target="_blank" rel="noopener noreferrer">
      SmartGit
    </a>
  </div>

  <div id="menu" class="text-blue-600 hover:text-blue-700">
    <ul class="flex items-center">
      <li class="ml-6">
        <a href="#">All my repos</a>
      </li>
    </ul>
  </div>
</nav>